[submodule "validators/webauthn/lib/forge-std"]
	path = validators/webauthn/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "signers/ecdsa/lib/forge-std"]
	path = signers/ecdsa/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "validators/webauthn/lib/openzeppelin-contracts"]
	path = validators/webauthn/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "validators/webauthn/lib/kernel_v3"]
	path = validators/webauthn/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/ecdsa/lib/kernel_v3"]
	path = signers/ecdsa/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/ecdsa/lib/solady"]
	path = signers/ecdsa/lib/solady
	url = https://github.com/vectorized/solady
[submodule "policies/signature-caller/lib/forge-std"]
	path = policies/signature-caller/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/signature-caller/lib/kernel_v3"]
	path = policies/signature-caller/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "policies/call-policy/lib/forge-std"]
	path = policies/call-policy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/call-policy/lib/kernel_v3"]
	path = policies/call-policy/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "policies/ratelimit/lib/forge-std"]
	path = policies/ratelimit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/gas/lib/forge-std"]
	path = policies/gas/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/gas/lib/kernel_v3"]
	path = policies/gas/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "policies/ratelimit/lib/kernel_v3"]
	path = policies/ratelimit/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "policies/timestamp/lib/forge-std"]
	path = policies/timestamp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/timestamp/lib/kernel_v3"]
	path = policies/timestamp/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/webauthn/lib/forge-std"]
	path = signers/webauthn/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "signers/webauthn/lib/kernel_v3"]
	path = signers/webauthn/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/webauthn/lib/openzeppelin-contracts"]
	path = signers/webauthn/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "policies/sudo/lib/forge-std"]
	path = policies/sudo/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/sudo/lib/kernel_v3"]
	path = policies/sudo/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "actions/recovery/lib/forge-std"]
	path = actions/recovery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "actions/recovery/lib/kernel_v3"]
	path = actions/recovery/lib/kernel_v3
[submodule "hooks/onlyEntrypoint/lib/forge-std"]
	path = hooks/onlyEntrypoint/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hooks/onlyEntrypoint/lib/kernel_v3"]
	path = hooks/onlyEntrypoint/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "validators/multisig_k1_r1/lib/forge-std"]
	path = validators/multisig_k1_r1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "validators/multisig_k1_r1/lib/kernel"]
	path = validators/multisig_k1_r1/lib/kernel
	url = https://github.com/zerodevapp/kernel
[submodule "validators/multisig_k1_r1/lib/solady"]
	path = validators/multisig_k1_r1/lib/solady
	url = https://github.com/vectorized/solady
