[submodule "validators/webauthn/lib/forge-std"]
	path = validators/webauthn/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "signers/ecdsa/lib/forge-std"]
	path = signers/ecdsa/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "validators/webauthn/lib/openzeppelin-contracts"]
	path = validators/webauthn/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "validators/webauthn/lib/kernel_v3"]
	path = validators/webauthn/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/ecdsa/lib/kernel_v3"]
	path = signers/ecdsa/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "signers/ecdsa/lib/solady"]
	path = signers/ecdsa/lib/solady
	url = https://github.com/vectorized/solady
[submodule "policies/signature-caller/lib/forge-std"]
	path = policies/signature-caller/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/signature-caller/lib/kernel_v3"]
	path = policies/signature-caller/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
[submodule "policies/call-policy/lib/forge-std"]
	path = policies/call-policy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "policies/call-policy/lib/kernel_v3"]
	path = policies/call-policy/lib/kernel_v3
	url = https://github.com/zerodevapp/kernel_v3
